:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}
.navbar {
  height: max-content;
  min-width: min-content;
}
.nav-drawer {
  min-width: min-content;
  min-height: 0;
  flex-shrink: 0;
}
.nav-drawer-item {
  flex-shrink: 0;
}
.view-container {
  overflow: auto;
  position: relative;
  flex-grow: 1;
}
.avatar {
  --background: none;
  --ig-gray-400: transparent;
}
.content {
  height: max-content;
  min-width: min-content;
}
.icon {
  font-size: 24px;
  width: 24px;
  height: 24px;
}
.row-layout {
  display: flex;
}
.group {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.group_1 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  height: 100%;
  min-width: 50px;
  min-height: 50px;
}
.group_2 {
  border-color: hsla(var(--igx-grays-200));
  border-width: 0px 0px 1px;
  border-style: solid;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  position: relative;
  padding: 30px;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.group_3 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  overflow: auto;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_4 {
  border-color: hsla(var(--igx-grays-200));
  border-width: 1px 0px 0px;
  border-style: solid;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
