<igx-navbar class="navbar">
  <igx-navbar-action>
    <button igxButton="icon" igxRipple [igxToggleAction]="navDrawer">
      <igx-icon>
        menu
      </igx-icon>
    </button>
  </igx-navbar-action>
  <button igxButton="icon" igxRipple>
    <igx-icon>
      search
    </igx-icon>
  </button>
  <button igxButton="icon" igxRipple>
    <igx-icon>
      favorite
    </igx-icon>
  </button>
  <button igxButton="icon" igxRipple>
    <igx-icon>
      more_vert
    </igx-icon>
  </button>
  <igx-navbar-title>
    App Name
  </igx-navbar-title>
</igx-navbar>
<div class="row-layout group">
  <igx-nav-drawer [isOpen]="true" [pin]="true" [pinThreshold]="1024" width="320px" #navDrawer class="nav-drawer">
    <ng-template igxDrawer>
      <div class="column-layout group_1">
        <div class="column-layout group_2">
          <igx-avatar src="/assets/82e19827573e63ebf434524f39a708e6fd21f88a.png" size="large" [roundShape]="true" class="avatar"></igx-avatar>
          <h5 class="content">
            Heading
          </h5>
          <p class="content">
            Body 1
          </p>
        </div>
        <div class="column-layout group_3">
          <div igxDrawerItem igxRipple routerLink="/master-view/view1" class="nav-drawer-item">
            <igx-icon class="icon">
              home
            </igx-icon>
            <span>View 1</span>
          </div>
          <div igxDrawerItem igxRipple routerLink="/master-view/view2" class="nav-drawer-item">
            <igx-icon class="icon">
              dns
            </igx-icon>
            <span>View 2</span>
          </div>
          <div igxDrawerItem igxRipple routerLink="/master-view/view3" class="nav-drawer-item">
            <igx-icon class="icon">
              dashboard
            </igx-icon>
            <span>View 3</span>
          </div>
          <div igxDrawerItem igxRipple routerLink="/master-view/view2" class="nav-drawer-item">
            <igx-icon class="icon">
              dns
            </igx-icon>
            <span>View 2</span>
          </div>
          <div igxDrawerItem igxRipple routerLink="/master-view/view3" class="nav-drawer-item">
            <igx-icon class="icon">
              dashboard
            </igx-icon>
            <span>View 3</span>
          </div>
          <div igxDrawerItem igxRipple routerLink="/master-view/view3" class="nav-drawer-item">
            <igx-icon class="icon">
              dashboard
            </igx-icon>
            <span>View 3</span>
          </div>
          <div igxDrawerItem igxRipple routerLink="/master-view/view3" class="nav-drawer-item">
            <igx-icon class="icon">
              dashboard
            </igx-icon>
            <span>View 3</span>
          </div>
          <div igxDrawerItem igxRipple routerLink="/master-view/view3" class="nav-drawer-item">
            <igx-icon class="icon">
              dashboard
            </igx-icon>
            <span>View 3</span>
          </div>
          <div igxDrawerItem igxRipple routerLink="/master-view/view3" class="nav-drawer-item">
            <igx-icon class="icon">
              dashboard
            </igx-icon>
            <span>View 3</span>
          </div>
          <div igxDrawerItem igxRipple routerLink="/master-view/view3" class="nav-drawer-item">
            <igx-icon class="icon">
              dashboard
            </igx-icon>
            <span>View 3</span>
          </div>
          <div igxDrawerItem igxRipple routerLink="/master-view/view3" class="nav-drawer-item">
            <igx-icon class="icon">
              dashboard
            </igx-icon>
            <span>View 3</span>
          </div>
          <div igxDrawerItem igxRipple routerLink="/master-view/view3" class="nav-drawer-item">
            <igx-icon class="icon">
              dashboard
            </igx-icon>
            <span>View 3</span>
          </div>
        </div>
        <div class="column-layout group_4">
          <div igxDrawerItem igxRipple routerLink="/master-view/view3" class="nav-drawer-item">
            <igx-icon class="icon">
              dashboard
            </igx-icon>
            <span>View 3</span>
          </div>
          <div igxDrawerItem igxRipple routerLink="/master-view/view3" class="nav-drawer-item">
            <igx-icon class="icon">
              dashboard
            </igx-icon>
            <span>View 3</span>
          </div>
        </div>
      </div>
    </ng-template>
  </igx-nav-drawer>
  <div class="view-container">
    <router-outlet></router-outlet>
  </div>
</div>
